/* ==================================
Variables
================================== */
:root {
    /* Colors */
    --bg-light: #ffffff;
    --text-light: #000000;
    --bg-dark: #181818;
    --text-dark: #ebebeb;
    --cursor-light: #000000;
    --cursor-dark: #ffffff;
    
    /* Header Colors */
    --header-bg-dark: #333333;
    --header-bg-light: #f0f0f0;
    --header-bg-gradient-dark: linear-gradient(0deg, #222222, #444444);
    --header-bg-gradient-light: linear-gradient(0deg, #cccccc, #ffffff);
    --header-text-dark: #ebebeb;
    --header-text-light: #000000;
    
    /* Window Elements */
    --directory-color: #4e9a06;
    --symlink-color: #3465a4;
    --executable-color: #cc0000;
    --close-bg: #ff5f56;
    --close-bg-gradient: linear-gradient(0deg, #ff4c43, #ff9088);
    --minimize-bg: #ffbd2e;
    --minimize-bg-gradient: linear-gradient(0deg, #ffae00, #f7d885);
    --maximize-bg: #27c93f;
    --maximize-bg-gradient: linear-gradient(0deg, #18bd31, #a1ffaf);
    
    /* Borders and Hover */
    --border-dark: #666666;
    --border-light: #888888;
    --scroll-hover-dark: #b0b0b0;
    --scroll-hover-light: #555555;
    
    /* Backgrounds */
    --bg-image-dark: url('I-Know-Better-2.jpg');
    --bg-image-light: url('I-Know-Better-1.jpg');
    
    /* Defaults */
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --cursor: var(--cursor-dark);
    --border: var(--border-dark);
    --bg-image: var(--bg-image-dark);
    --header-bg: var(--header-bg-dark);
    --header-bg-gradient: var(--header-bg-gradient-dark);
    --header-text: var(--header-text-dark);
    --scroll-hover: var(--scroll-hover-dark);
}

.toggled {
    --bg: var(--bg-light);
    --text: var(--text-light);
    --cursor: var(--cursor-light);
    --border: var(--border-light);
    --bg-image: var(--bg-image-light);
    --header-bg: var(--header-bg-light);
    --header-bg-gradient: var(--header-bg-gradient-light);
    --header-text: var(--header-text-light);
    --scroll-hover: var(--scroll-hover-light);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: var(--bg-light);
        --text: var(--text-light);
        --cursor: var(--cursor-light);
        --border: var(--border-light);
        --bg-image: var(--bg-image-light);
        --header-bg: var(--header-bg-light);
        --header-bg-gradient: var(--header-bg-gradient-light);
        --header-text: var(--header-text-light);
        --scroll-hover: var(--scroll-hover-light);
    }

    .toggled {
        --bg: var(--bg-dark);
        --text: var(--text-dark);
        --cursor: var(--cursor-dark);
        --border: var(--border-dark);
        --bg-image: var(--bg-image-dark);
        --header-bg: var(--header-bg-dark);
        --header-bg-gradient: var(--header-bg-gradient-dark);
        --header-text: var(--header-text-dark);
        --scroll-hover: var(--scroll-hover-dark);
    }
}

/* ==================================
Base Styles
================================== */
body {
    align-items: center;
    background-color: var(--bg);
    background-image: var(--bg-image);
    background-repeat: repeat;
    color: var(--text);
    font-family: 'Noto Sans Mono', monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}

.menu {
    display: none;
    justify-content: center;
    margin-top: 1rem;
}

.menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu-item {
    padding: 1rem;
    margin: 0px;
}

.menu-item:last-child {
    padding-bottom: 1rem;
}

.menu-separator {
    border-top: 1px solid var(--border);
    padding: 0 0.5rem;
}

.menu-item:hover, .menu-separator:hover {
    background: var(--header-bg-gradient);
    border-radius: 0.25rem;
    color: var(--header-text);
}

.tasks {
    position: fixed;
    top: 6.5rem;
    right: 1rem;
    border: 0;
}

.start-button {
    /* Use animated GIF or WebP for better performance as background image */
    background-image: url('start-button.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 50%;
    background-color: var(--header-bg);
    cursor: pointer;
    font-family: 'Noto Sans Mono', monospace;
    height: 5rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    transition: background-color 0.3s, color 0.3s;
    width: 5rem;
}
.start-button .start-button-icon {
    line-height: 5rem;
    font-size: 2rem;
    width: 5rem;
    text-align: center;
    color: var(--header-text-dark);
}
@supports (background-image: url('start-button.webp')) {
    .start-button {
        background-image: url('start-button.webp'); /* Modern WebP image */
    }
}

/* ==================================
Window
================================== */
.window, .menu {
    background-color: var(--header-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: var(--text);
}

.window {
    display: flex;
    flex-direction: column;
    height: 80%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

/* Media query for responsive adjustments */
@media (max-width: 768px) {
    .window {
        top: 50%;
        width: calc(100vw - 1.5rem);
        height: calc(100vh - 10rem);
    }
}

.window-header {
    align-items: center;
    background: var(--header-bg-gradient);
    border-bottom: 1px solid var(--border);
    border-radius: 6px 6px 0 0;
    cursor: move;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.window-header .buttons, .window-header .title {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.window-header .title {
    justify-content: center;
    width: 100%;
}

.window-header .window-title {
    text-align: center;
    color: var(--header-text);
    font-size: 1rem;
    font-weight: bold;
}

.window-body {
    background-color: var(--bg);
    flex-grow: 1;
    height: calc(100% - 2.5rem); /* Adjust for header height */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.window-status-bar {
    background-color: var(--header-bg);
    border-top: 1px solid var(--border);
    color: var(--header-text);
    flex-shrink: 0;
    line-height: 1.5rem;
    padding-left: 0.4rem;
    text-align: left;
}

/* ==================================
Window Buttons
================================== */
.window-header .button {
    border-radius: 50%;
    box-shadow: 0 1px 2px var(--border), 0 -1px 2px var(--bg);
    cursor: default;
    height: 1rem;
    width: 1rem;
}

.close {
    background: var(--close-bg-gradient);
}

.close:active {
    background: var(--close-bg);
}

.minimize {
    background: var(--minimize-bg-gradient);
}

.minimize:active {
    background: var(--minimize-bg);
}

.maximize {
    background: var(--maximize-bg-gradient);
}

.maximize:active {
    background: var(--maximize-bg);
}

/* ==================================
Scrollbars
================================== */
.window-body::-webkit-scrollbar {
    background-color: var(--header-bg);
    border-left: 1px solid var(--border);
    opacity: 0.5;
    width: 1.5rem;
}

.window-body::-webkit-scrollbar-thumb {
    background-color: var(--border);
}

.window-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-hover);
}

.window-body::-webkit-scrollbar-button {
    display: none;
}

/* ==================================
Resize Handle (Grippy)
================================== */
.grippy {
    background: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 0.25rem,
    var(--border) 0.25rem,
    var(--border) 0.35rem
    );
    border-left: 1px solid var(--border);
    bottom: 0;
    content: '';
    cursor: nwse-resize;
    height: 1.5rem;
    position: absolute;
    right: -1px;
    width: 1.5rem;
    z-index: 10;
}

.window.minimized .grippy, .window.maximized .grippy, .window.closed .grippy, .window.shaded .grippy {
    display: none;
}

/* ==================================
Animations and Effects
================================== */
.blink {
    border: 1px solid var(--cursor);
    background-color: transparent;
    animation: none;
}

.front .blink {
    border: none;
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
    0%, 100% {
        background-color: var(--bg);
    }
    50% {
        background-color: var(--cursor);
    }
}

/* ==================================
Utility Classes
================================== */
.window.shaded {
    height: 2.5rem !important;
    /* left: 1.25rem !important;
    top: calc(100% - 4rem) !important;
    transform: none !important;
    width: calc(100% - 2.5rem) !important; */
}

.window.maximized {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    position: fixed !important;
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
}

.window.minimized {
    background: none;
    border: 0;
    border-radius: 5px;
    position: static !important;
    display: block;
    top: calc(100vh - 4.5rem) !important; /* Distance from the top of the viewport */
    bottom: 1rem !important; /* Distance from the bottom of the viewport */
    left: 1rem !important; /* Distance from the left of the viewport */
    width: 5rem; /* Adjust width for compact display */
    height: 5rem; /* Fit content without stretching */
    box-shadow: none;
    color: var(--header-text);
    cursor: pointer;
    padding: 0.5rem 1rem;
    transform: none !important; /* Ensure no transforms interfere */
    line-height: 5rem; /* Center content vertically */
    text-align: center; /* Center content horizontally */
    padding: 0; /* Remove padding */
    margin: 0.5rem 0px; /* Add margin between windows */
}

.window.minimized .window-header {
    padding: 0;
    background: none;
    cursor: inherit;
}

.window.minimized .window-title {
    display: none;
}

.window.minimized .window-icon {
    font-size: 4.5rem;
    line-height: 5rem;
}

/* Hide unnecessary sections when minimized */
.window.minimized .window-body,
.window.minimized .window-status-bar,
.window.minimized .buttons {
    display: none;
}

header {
    margin-bottom: 2rem;
    text-align: left;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header p {
    font-size: 1rem;
    margin: 0.5rem 0 0;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    border-bottom: 1px solid var(--text);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

section p {
    margin: 0.5rem 0;
}

footer {
    margin-top: auto;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.directory {
    color: var(--directory-color);
}

.symlink, a {
    color: var(--symlink-color);
}

a, .nowrap {
    /* Don't allow a line break during a link */
    white-space: nowrap;
}

a:hover {
    background: var(--symlink-color);
    border-radius: 0.25rem;
    color: var(--bg);
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    text-decoration: none;
}

.executable {
    color: var(--executable-color);
}

.blink::after {
    color: currentColor;
    content: ' ';
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1ch;
}

/* ==================================
Print Styles
================================== */

@media print {
    body, p, #resume-container a {
        color: #000000 !important; /* Ensure text is black */
        font-size: 9.4pt !important; /* Use a readable font size */
    }

    #resume-container a {
        text-decoration: none !important; /* Remove underline */
    }

    span {
        color: #000000 !important; /* Ensure text is black */
    }

    .window-body {
        background-color: #ffffff !important; /* Ensure white background */
    }

    .window, .window-header, .window-status-bar, .menu, .start-button, .grippy {
        display: none !important; /* Hide all windows */
    }

    /* Override inline styles */
    .front {
        all: unset !important; /* Resets most styles */
    }

    /* Show and style the element with class 'front' */
    .front {
        display: block !important;
        width: 100%; /* Let it adapt to page width */
        height: auto; /* Allow natural height for content */
        margin: 0;
        padding: 0;
        position: static; /* Ensure it flows naturally across pages */
    }

    /* Reduce the size of headers slightly */
    h1 {
        font-size: 1.25rem !important;
    }
    h2 {
        font-size: 1rem !important;
    }
    section h2 {
        border-bottom: 1px solid #000000 !important;
    }
    h3 {
        font-size: 0.9rem !important;
    }
    h4 {
        font-size: 0.8rem !important;
    }
    h3, h4 {
        float: left;
    }

    h2 + p.date, h3 + p.date, h4 + p.date {
        float: right;
        text-align: right;
    }

    h3 + p.date, h4 + p.date {
        margin: 1rem 0px !important;
    }

    p.summary, ul {
        clear: both;
    }

    h4 {
        clear: left;
    }
}

/* ==================================
Resume Styles
================================== */
#resume-container p, #resume-container ul, #resume-container li, #resume-container h3, #resume-container h4 {
    text-align: left;
}

#resume-container, #resume-container * {
    text-align: center;
}

.center {
    text-align: center !important;
}

span.location {
    font-weight: normal;
    white-space: nowrap;
}

span.location::before {
    content: '📍';
}

p.date {
    margin: -1rem 0px 1.3rem;
    white-space: nowrap;
}

p.date::before {
    content: '📅';
    margin-right: 0.15rem;
}

@media (min-width: 769px) {
    h3, h4 {
        float: left;
    }

    h2 + p.date, h3 + p.date, h4 + p.date {
        float: right;
        text-align: right;
        clear: inline-end;
    }

    h3 + p.date, h4 + p.date {
        margin: 1.3rem 0px;
    }

    p.summary, ul {
        clear: both;
    }

    h4 {
        clear: left;
    }
}