<span class="page-icon" hidden>{{ .Params.icon | default "⚙️" }}</span>
<span class="page-title" hidden>{{ .Title }}</span>
{{ with .Params.navLinks }}
<section class="nav-links">
  {{ range . }}
  <span><a href="#/{{ .page }}" class="{{ .class | default "" }}"
    onclick="event.preventDefault(); openPage('{{ .page }}', '{{ .title }}', '{{ .icon | default "⚙️" }}');">
    {{ .label }}
  </a></span>
  {{ end }}
</section>
{{ end }}
<header>
  <h1>Hi, I'm <span class="name">{{ .Site.Params.author }}</span>.<span class="blink"></span></h1>
  <h2>{{ .Params.subtitle }}</h2>
</header>
<section>
  {{ .Content }}
</section>
