/* custom.css */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fira-code-latin-400-normal-BzypJxJk.woff2') format('woff2'),
       url('/assets/fira-code-latin-400-normal-PFR0Tj-d.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Fira Code', monospace !important;
  color: #f8f9fa;
  background-color: #222 !important;
}

.dark-gray, .mid-gray {
  color: #f8f9fa !important;
}

.athelas, .avenir, .serif {
  font-family: 'Fira Code', monospace !important;
}

.bg-light-gray {
  background-color: black !important;
}

nav, footer {
  background: url('../../../I-Know-Better-2.jpg') !important;
}

header div.bg-black {
  background-image: url('/writings/images/header.jpg');
  background-size: cover;
  background-position: center;
}

.bg-black h1 {
  visibility: hidden;
}
